<!-- about section starts here -->
<section class="container">

  <header>
		<h1>About us</h1>
    <h2>Ethnics & Silver, your source to crafted silver jewels.</h2>
	</header>

	<div>
		<p>Welcome to the website of Ethnics & Silver.</p>
    <p>You will find a selection of our crafted jewels.</p>
	</div>

</section>
<hr>
