<!-- contact section starts here -->
<section class="container">

  <header>
		<h1>Contact us</h1>
    <h2>Ethnics & Silver, your source to crafted silver jewels.</h2>
	</header>

	<div>
		<p>You can contact us at the following email address.</p>
    <p>email: hello@ethnicsandsilver.com
	</div>

</section>
<hr>
