<!-- index section starts here -->
<section class="container">

  <header>
		<h1>Welcome!</h1>
    <h2>Ethnics & Silver, your source to crafted silver jewels.</h2>
	</header>

	<div>
		<p>Welcome to the website of Ethnics & Silver.</p>
    <p>You will find a selection of our crafted jewels.</p>
    <!-- Below we use the image_tag Rails method that will generate the HTML code -->
    <%= image_tag("cover_img.jpg", class: "img-fluid w-100") %>
  </div>
</section>
