<!-- index section starts here -->
<section class="container">

  <header>
		<h1>Orders</h1>
    <h2>Ethnics & Silver, your source to crafted silver jewels.</h2>
	</header>

	<div>
		<p></p>
	</div>

</section>
