<!-- index section starts here -->
<section class="container">

  <header>
		<h1>Orders:</h1>
    <h2>Below the orders list.</h2>
	</header>

  <br>

  <div class="container-fluid">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Order#</th>
          <th scope="col">Product name</th>
          <th scope="col">Product description</th>
          <th scope="col">Product price</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <th scope="row"><%= order.id %></th>
            <td><%= link_to order.product.name, order %></td>
            <td><%= order.product.description %></td>
            <td><strong><%= order.product.price %> Euros</strong></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!-- end conatiner-fluid -->

</section>
