// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// h1 {
//   color: blue;
//   font-family: verdana;
//   font-size: 300%;
// }
//
// p {
//   color: red;
//   font-family: courier;
//   font-size: 160%;
// }
//
// footer p {
//   color: black;
//   font-family: courier;
//   font-size: 100%;
// }

section {
  margin-top: 25px;
  margin-bottom: 50px;
}

.tales {
  width: 100%;
}
.carousel-inner {
  width:100%;
  height: 400px;
}

.img-thumbnail {
  max-height: 250px;
}
