<section class="container">

  <h1>Products</h1>

  <div class="container-fluid">
    <div class="row">

      <%= render @products %>

    </div><!-- end row -->
  </div><!-- end conatiner-fluid -->


  <br>

  <%= link_to 'New Product', new_product_path %>

</section>
